{
  "extends": "eslint:recommended",
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "phantomjs": true
  },
  "rules": {
    "semi": [2, "never"],
  }
}

